@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

/*----------------------RESET---------------- */
* {
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}
body {
  margin: 0;
  background-image: url("./assets/img/001.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
}
input {
  outline: none;
}
